
.banner-text {
    color: aqua;
    /* background-color: gray; */
    /* opacity: 100%; */
}
.banner {
    background-color: gray;
    /* opacity: 50%; */
}
.bg-image {
    outline: 2px solid red;
    width: 500px;
    height: 100vh;
    background: url(./pictures/neom-n7SdozgzvyA-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

#bg-image-credit {
    color: white;
}

#scuba-watermark {
    /* outline: 2px solid red; */
    /* opacity: 100%; */
    width: 50%;
    height: 100px;
}

.hero-text {
    outline: 2px solid blue;
}